// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url("https://images.unsplash.com/photo-1484069560501-87d72b0c3669?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
 background-size: cover;
 background-position: 0 auto;
 font-family: 'Roboto', sans-serif;
}

p {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color:white;
  text-transform: capitalize;
  padding-left: 16px;
}

.answer {
  background-color: rgba($color: white, $alpha: .2);
  margin: 24px;
  width: 600px;
  border-radius: 3px;
}
